<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HelloWorldJSP</display-name>
  <welcome-file-list>
    <welcome-file>indexMain.html</welcome-file>
    <welcome-file>indexMain.html</welcome-file>
    <welcome-file>/HelloWorldJSP/welcome/welcome.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>/HelloWorldJSP/welcome/welcome.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>connectionPool.Config</listener-class>
  </listener>
  <servlet>
    <servlet-name>Username</servlet-name>
    <servlet-class>servlets.welcome.UsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>servlets.welcome.InsertUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionFormServlet</servlet-name>
    <servlet-class>servlets.welcome.ActionFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlets.admin.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoAuthUsers</servlet-name>
    <servlet-class>servlets.admin.NoAuthUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertNoAuthUser</servlet-name>
    <servlet-class>servlets.admin.InsertNoAuthUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertRole</servlet-name>
    <servlet-class>servlets.admin.role.InsertRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeRole</servlet-name>
    <servlet-class>servlets.admin.role.ChangeRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>servlets.admin.userRole.UserPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlets.admin.userRole.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckWarehouse</servlet-name>
    <servlet-class>servlets.admin.warehouses.CheckWarehouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertWarehouse</servlet-name>
    <servlet-class>servlets.admin.warehouses.InsertWarehouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WarehousePage</servlet-name>
    <servlet-class>servlets.admin.warehouses.WarehousePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateWarehouse</servlet-name>
    <servlet-class>servlets.admin.warehouses.UpdateWarehouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteWarehouse</servlet-name>
    <servlet-class>servlets.admin.warehouses.DeleteWarehouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowInfo</servlet-name>
    <servlet-class>servlets.user.ShowInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>servlets.user.UpdateInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSupplier</servlet-name>
    <servlet-class>servlets.admin.supplier.CheckSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertSupplier</servlet-name>
    <servlet-class>servlets.admin.supplier.InsertSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupplierPage</servlet-name>
    <servlet-class>servlets.admin.supplier.SupplierPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSupplier</servlet-name>
    <servlet-class>servlets.admin.supplier.UpdateSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSupplier</servlet-name>
    <servlet-class>servlets.admin.supplier.DeleteSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSupplierProduct</servlet-name>
    <servlet-class>servlets.admin.products.AddSupplierProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierProduct</servlet-name>
    <url-pattern>/admin/addSupplierProduct</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>UpadateProduct</servlet-name>
    <servlet-class>servlets.admin.products.UpadateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpadateProduct</servlet-name>
    <url-pattern>/admin/upadateProduct</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>servlets.admin.products.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/admin/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferProductWarehouse</servlet-name>
    <servlet-class>servlets.admin.products.TransferProductWarehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferProductWarehouse</servlet-name>
    <url-pattern>/admin/transferProductWarehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddWarehouseProduct</servlet-name>
    <servlet-class>servlets.admin.products.AddWarehouseProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWarehouseProduct</servlet-name>
    <url-pattern>/admin/addWarehouseProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumberSuppliersList</servlet-name>
    <servlet-class>servlets.admin.products.NumberSuppliersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberSuppliersList</servlet-name>
    <url-pattern>/admin/numberSuppliersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumberWarehousesList</servlet-name>
    <servlet-class>servlets.admin.products.NumberWarehousesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberWarehousesList</servlet-name>
    <url-pattern>/admin/numberWarehousesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Username</servlet-name>
    <url-pattern>/welcome/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/welcome/CheckInsertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionFormServlet</servlet-name>
    <url-pattern>/welcome/actionFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/admin/logOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoAuthUsers</servlet-name>
    <url-pattern>/welcome/noAuthUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertNoAuthUser</servlet-name>
    <url-pattern>/admin/insertNoAuthUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertRole</servlet-name>
    <url-pattern>/admin/insertRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeRole</servlet-name>
    <url-pattern>/admin/changeRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/admin/userPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/admin/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckWarehouse</servlet-name>
    <url-pattern>/admin/checkWarehouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertWarehouse</servlet-name>
    <url-pattern>/admin/insertWarehouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarehousePage</servlet-name>
    <url-pattern>/admin/warehousePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWarehouse</servlet-name>
    <url-pattern>/admin/updateWarehouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWarehouse</servlet-name>
    <url-pattern>/admin/deleteWarehouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowInfo</servlet-name>
    <url-pattern>/user/showInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/user/updateInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSupplier</servlet-name>
    <url-pattern>/admin/checkSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertSupplier</servlet-name>
    <url-pattern>/admin/insertSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierPage</servlet-name>
    <url-pattern>/admin/supplierPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSupplier</servlet-name>
    <url-pattern>/admin/updateSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSupplier</servlet-name>
    <url-pattern>/admin/deleteSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertProduct</servlet-name>
    <servlet-class>servlets.admin.products.InsertProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProduct</servlet-name>
    <url-pattern>/admin/insertProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductExist</servlet-name>
    <servlet-class>servlets.admin.products.ProductExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductExist</servlet-name>
    <url-pattern>/admin/productExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>servlets.admin.products.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/admin/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>servlets.admin.products.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/admin/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductWarehouse</servlet-name>
    <servlet-class>servlets.admin.products.DeleteProductWarehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductWarehouse</servlet-name>
    <url-pattern>/admin/deleteProductWarehouse</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ProductList</filter-name>
    <filter-class>servlets.admin.products.ProductList</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProductList</filter-name>
    <url-pattern>/admin/products.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>PermissionsFilter</filter-name>
    <filter-class>filters.PermissionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionsFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  
  
  <filter>
    <filter-name>sslFilter</filter-name>
    <filter-class>filters.sslFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sslFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>SuppliersList</filter-name>
    <filter-class>servlets.admin.supplier.SuppliersList</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SuppliersList</filter-name>
    <url-pattern>/admin/suppliers.jsp</url-pattern>
  </filter-mapping>
     <servlet>
    <servlet-name>SupplierProducts</servlet-name>
    <servlet-class>servlets.admin.supplier.SupplierProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierProducts</servlet-name>
    <url-pattern>/admin/supplierProducts</url-pattern>
  </servlet-mapping>
 
	<servlet>
	<servlet-name>WareHouseProducts</servlet-name>
	<servlet-class>servlets.admin.warehouses.WareHouseProducts</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>WareHouseProducts</servlet-name>
	<url-pattern>/admin/warehouseProducts</url-pattern>
	</servlet-mapping>
</web-app>